# venv
mlx-env/
.venv/
venv/

# adapters / fused models / HF cache
adapters/
adapters_run1/
fused-model/
models/
tmp_outputs/
*.safetensors
*.npz

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# logs
*.log
wandb/
